<h1>Editar estudiante</h1>

<%= render "form", student: @student %>

<br>

<div>
  <%= link_to "Mostrar estudiante", @student %> |
  <%= link_to "Volver a la lista de estudiantes", students_path %>
</div>
