<h1>HOME</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Profesores", teachers_path, class: "btn btn-primary" %>
<hr>
<%= link_to "Estudiantes", students_path, class: "btn btn-primary" %>
<hr>
<%= link_to "Salones", lounges_path, class: "btn btn-primary" %>