<h1>Editar profesor</h1>

<%= render "form", teacher: @teacher %>

<br>

<div>
  <%= link_to "Mostrar profesor", @teacher %> |
  <%= link_to "Volver a la lista de profesores", teachers_path %>
</div>
